@model  List<PetGrooming.Models.Species>  /*means this page needs the spacies data */
@{
    ViewBag.Title = "Add";
}

<h2>Add a New Pet Species</h2>

<form method="POST" action="/Species/Add">
    <div>
        <label for="SpeciesName">New Species:</label>
        <input id="SpeciesName" type="text" name="SpeciesName" /></div>
    <input type="submit" value="Add">
</form>

