@model PetGrooming.Models.Species

@{
    ViewBag.Title = "Update";
}

<h2>Edit</h2>
<form action="/Species/Edit/@Model.SpeciesID" method="post">
    <label>Species Name: </label>
    <input type="text" name="SpeciesName" id="SpeciesName" value="@Model.Name" />
    <input type="submit" value="Update Species" />
</form>

